body {
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}
.app{
  position: relative;
}

/* Header ********************************************/
/* Header ********************************************/
/* Header ********************************************/

.header-wrapper{
  opacity: .8;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header-wrapper .header{
  background-color: #0D0D0D;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 10rem;
  font-size: 16px;
  justify-content: space-between;
  box-sizing: border-box;
  color: white;
}
.logo-wrapper p{
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 20px;
  color: white;
}
.logo-wrapper span{
  color: #c5c5c5;
}

.header-wrapper ul{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.header-wrapper .link {
  letter-spacing: 3px;
  cursor: pointer;
  color: white;
}






/* carousel navigation **********************************/
/* carousel navigation **********************************/
/* carousel navigation **********************************/
.carousel-nav{
  position: fixed;
  top: 45%;
  left: 3rem;
  z-index: 1;
}
.carousel-nav ul{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.carousel-nav .navigator{
  cursor: pointer;
  width: .5rem;
  height: .5rem;
  border: 2px solid white;
  border-radius: 50%;
}


/* carousel *****************************************/
/* carousel *****************************************/
/* carousel *****************************************/

.carousel {
  position: relative;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.panel {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 10vmin;
  padding: 5rem 10rem;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: default;
}
.panel h1{
  letter-spacing: 3px;
  font-weight: 900;
}

.panel:nth-child(1){
  background-color: #0D0D0D;
}
.panel:nth-child(2){
  background-color: rgb(250, 250, 250);
}
.panel:nth-child(3){
  background-color: #404040;
}
.panel:nth-child(4){
  background-color: #3D4034;
}


/* Domain **********************************************/
/* Domain **********************************************/
/* Domain **********************************************/
.domain{
  text-align: left;
}
.domain .test{
  transition: transform .5s ease-out;
  transform-origin: top;
  transform: rotateX(100deg);
}
.domain .test:hover{
  transform: rotateX(0deg);
}


/* About *********************************************/
/* About *********************************************/
/* About *********************************************/
.about h1{
  color: #0D0D0D;
}


/* App default css *************************************/
/* App default css *************************************/
/* App default css *************************************/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

