body {
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}
.app{
  position: relative;
}

/* Header ********************************************/
/* Header ********************************************/
/* Header ********************************************/

.header-wrapper{
  opacity: .8;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header-wrapper .header{
  background-color: #0D0D0D;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 10em;
  font-size: 16px;
  justify-content: space-between;
  box-sizing: border-box;
  color: white;
}
.logo-wrapper p{
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 20px;
  color: white;
}
.logo-wrapper span{
  color: rgb(100, 100, 100);
}

.header-wrapper ul{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.header-wrapper .link {
  transition: .3s;
  letter-spacing: 3px;
  cursor: pointer;
  color: white;
}
.header-wrapper .link:hover{
  color: rgb(160, 67, 236);
}






/* carousel navigation **********************************/
/* carousel navigation **********************************/
/* carousel navigation **********************************/
.carousel-nav{
  position: fixed;
  top: 45%;
  left: 3rem;
  z-index: 1;
}
.carousel-nav ul{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.carousel-nav .navigator{
  transition: .3s;
  cursor: pointer;
  width: .5rem;
  height: .5rem;
  border: 2px solid rgb(160, 67, 236);
  border-radius: 50%;
}
.carousel-nav .navigator:hover{
  background-color: rgb(160, 67, 236);
}


/* carousel *****************************************/
/* carousel *****************************************/
/* carousel *****************************************/

.carousel {
  position: relative;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.panel {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 10vmin;
  padding: 5rem 10rem;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: default;
}
.panel:nth-child(5){
  height: 50vh;
}
.panel h1{
  letter-spacing: 1px;
  font-weight: 500;
}

.panel:nth-child(1){
  background-color: #0D0D0D;
}
.panel:nth-child(2){
  background-color: rgb(250, 250, 250);
}
.panel:nth-child(3){
  background-color: #0D0D0D;
}
.panel:nth-child(4){
  background-color: #0D0D0D;
}


/* Domain **********************************************/
/* Domain **********************************************/
/* Domain **********************************************/
.domain .opening-tag::before{
  content: '<>';
  font-style: italic;
  transform: skewX(-20deg);
  font-size: 5vmin;
  position: absolute;
  top: 3rem;
  left: 10rem;
  color: rgb(73, 73, 73);
}
.domain .closing-tag::after{
  font-style: italic;
  transform: skewX(-20deg);
  content: '< />';
  color: rgb(73, 73, 73);
  font-size: 5vmin;
  position: absolute;
  bottom: 2rem;
  left: 10rem;
}
.title-wrapper{
  position: relative;
  line-height: 1.3em;
}
.title-wrapper:before{
  font-style: italic;
  content: '<h1>';
  transform: skewX(-20deg);
  top: -2.5em;
  position: absolute;
  font-size: 4vmin;
  color: rgb(73, 73, 73);
}
.title-wrapper:after{
  content: '</h1>';
  font-style: italic;
  transform: skewX(-20deg);
  bottom: -2.5em;
  left: 0;
  position: absolute;
  font-size: 4vmin;
  color: rgb(73, 73, 73);
}
.domain h1{
  transition: .5s;
  /* transform: rotateX(90deg); */
  letter-spacing: 3px;
  font-weight: 900;
  transform-origin: top ;
}
.typing-cursor{
  border-right: .1em solid white;
  margin-left: .5rem;
  animation: typing 1s step-start infinite;
}
@keyframes typing{
  50%{
    opacity: 0;
  }
}

/* About *********************************************/
/* About *********************************************/
/* About *********************************************/
.about{
  position: relative;
  color: #0D0D0D;
}
.about-wrapper{
  margin-left: auto;
  width: 65%;
  /* animation: slideIn .8s;   */
  white-space: pre-line;
}
.about-wrapper h3{
  font-size: 2rem;
  font-weight: 400;
}
.about-wrapper p{
  letter-spacing: 1px;
  line-height: 1.5em;
  font-weight: 200;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  /* animation: secondKick .8s; */
}
@keyframes slideIn{
  0%{
    opacity: 0;
    margin-left: 5rem;
  }
  50%{
    margin-left: 0px;
    opacity: 1;
  }
}
@keyframes secondKick{
  25%{
    opacity: 0;
    margin-left: 5rem;
  }
  100%{
    margin-left: 0px;
    opacity: 1;
  }
}
.about h1{
  color: #0D0D0D;
}

/* contact **********************************************/
/* contact **********************************************/
/* contact **********************************************/
.contact {
  position: relative;
}
.contact-wrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact-form{
  display: flex;
  flex-direction: column;
}
.contact-form label{
  font-size: 1.2rem;
  font-weight: 300;
}
.contact-form input{
  margin-top: .5rem;
  margin-bottom: 2.5rem;
  color: white;
  background-color: rgb(41, 41, 41);
  padding: .5rem .5rem;
  font-size: 1.2rem;
  border-radius: 5px;
}
.contact-form input:focus{
  outline: none;
}
.contact-form textarea{
  margin-top: .5rem;
  margin-bottom: 2.5rem;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(41, 41, 41);
  padding: .5rem .5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  resize: none;
}
.contact-form textarea:focus{
  color: white;
  outline: none;
}

.contact-form button{
  margin-top: 1rem;
  width: fit-content;
  font-size: .8rem;
    letter-spacing: .1rem;
    transition: .2s;
    cursor: pointer;
    color: white;
    padding: .6rem 1.7rem;
    font-weight: 500;
    box-shadow: 0px 1px 5px rgb(255, 255, 255);
    border: 1px solid transparent;
    background: rgb(160, 67, 236);
}
.contact-form button:hover{
    background-color: white;
    box-shadow: none;
    color: rgb(160, 67, 236);
    border: 1px solid rgb(160, 67, 236);
}
/* App default css *************************************/
/* App default css *************************************/
/* App default css *************************************/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-footer {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

