body {
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}
.app{
  position: relative;
}


.header-wrapper{
  opacity: .8;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header-wrapper .header{
  display: flex;
  flex-direction: row;
  padding: 1.5rem 10rem;
  font-size: 20px;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo-wrapper{
  color: white;
}
.logo-wrapper span{
  color: #9b9b9b;
}

.header-wrapper ul{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
















.well {
  position: relative;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.panel {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-size: 10vmin;
  padding: 3em;
  box-sizing: border-box;
  color: hsla(0, 0%, 100%, .1);
  cursor: default;
}

.panel:nth-child(1) {
  background: #012345;
}

.panel:nth-child(2) {
  background: #123456;
}

.panel:nth-child(3) {
  background: #234567;
}

.panel:nth-child(4) {
  background: #345678;
}

.panel:nth-child(5) {
  background: #456789;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

