/* overall */
body {
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}
.app{
  position: relative;
  background-color: rgb(22, 22, 22);
}

/* Header ********************************************/
/* Header ********************************************/
/* Header ********************************************/

.header-wrapper{
  opacity: .8;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header-wrapper .header{
  background-color: rgb(22, 22, 22);
  /* background-color: #FAF7FF; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 10rem;
  justify-content: space-between;
  box-sizing: border-box;
}


.header-wrapper ul{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.header-wrapper .link {
  transition: .2s;
  letter-spacing: 3px;
  cursor: pointer;
  font-size: 18px;
  color: #FAF7FF; 
}
.header-wrapper .link:hover{
  color: #8685EF;
}
.header-wrapper .link-current{
  color: #8685EF;
}

.logo-wrapper .link{
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 22px;
  color: #FAF7FF !important;
  text-shadow: none  !important;
}
.logo-wrapper .link span{
  transition: .2s;
  color: #323439;
}
.logo-wrapper .link-current span{
  color: #8685EF;
}






/* panel *****************************************/
/* panel *****************************************/
/* panel *****************************************/
.panel .subtitle {
  color: #8685EF;
  letter-spacing: .1rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.panel .title {
  font-size: 3rem;
  color: #FAF7FF;
  position: relative;
}
.panel .title::after{
  content: '';
  position: absolute;
  left: 0;
  top: 4rem;
  width: 10rem;
  border-bottom: 2px solid #545454;
}
.panel .desc{
  letter-spacing: 1px;
  line-height: 1.5em;
  font-weight: 300;
  margin-top: 3rem;
  font-size: 1.3rem;
  color: #9e9e9e;
}

.carousel {
  position: relative;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.panel {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 10vmin;
  padding: 4rem 10rem 4rem 10rem;
  box-sizing: border-box;
  cursor: default;
}
.panel:nth-child(5){
  height: 50vh;
}

/* .panel:nth-child(1){
  background-color: #0D0D0D;
}
.panel:nth-child(2){
  background-color: rgb(250, 250, 250);
}
.panel:nth-child(3){
  background-color: #0D0D0D;
}
.panel:nth-child(4){
  background-color: #0D0D0D;
} */

/* carousel navigation **********************************/
/* carousel navigation **********************************/
/* carousel navigation **********************************/
.carousel-nav{
  position: fixed;
  top: 45%;
  left: 3rem;
  z-index: 1;
}
.carousel-nav ul{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.carousel-nav .navigator{
  transition: .2s;
  cursor: pointer;
  width: .5rem;
  height: .5rem;
  border: 2px solid #8685EF;
  border-radius: 50%;
}
.carousel-nav .navigator:hover{
  background-color: #8685EF;
}
.nav-current{
  margin-top: .7rem;
  margin-bottom: .7rem;
  background-color: #8685EF;
}
/* Domain **********************************************/
/* Domain **********************************************/
/* Domain **********************************************/
.domain .opening-tag::before{
  content: '<>';
  font-style: italic;
  transform: skewX(-20deg);
  font-size: 5vmin;
  position: absolute;
  top: 4rem;
  left: 10rem;
  color: #323439;
  opacity: 0;
  animation: tags-fade-in 1s;
  animation-fill-mode: forwards;
}
@keyframes tags-fade-in {
  from {opacity: 0; transform: scale(2) skewX(-20deg); font-style: italic;}
  to {opacity: 1; transform: scale(1) skewX(-20deg); font-style: italic; }
}
.domain .closing-tag::after{
  font-style: italic;
  transform: skewX(-20deg);
  content: '</>';
  color: #323439;
  font-size: 5vmin;
  position: absolute;
  bottom: 4rem;
  left: 10rem;
  opacity: 0;
  animation: tags-fade-in 1s;
  animation-fill-mode: forwards;
}
.title-wrapper{
  height: 4em;
  position: relative;
  line-height: 1.3em;
  color: #FAF7FF;
}
.title-wrapper:before{
  font-style: italic;
  content: '<h1>';
  transform: skewX(-20deg);
  top: -2.5em;
  position: absolute;
  font-size: 4vmin;
  color: #323439;
  opacity: 0;
  animation: tags-fade-in 1s;
  animation-fill-mode: forwards;
}
.title-wrapper:after{
  content: '</h1>';
  font-style: italic;
  transform: skewX(-20deg);
  bottom: -2.5em;
  left: 0;
  position: absolute;
  font-size: 4vmin;
  color: #323439;
  opacity: 0;
  animation: tags-fade-in 1s;
  animation-fill-mode: forwards;
}
.domain h1{
  letter-spacing: 3px;
  font-weight: 500;
}
.typing{
  justify-content: right;
  border-right: .1em solid #FAF7FF;
  margin-left: .5rem;
  animation: typing 1s step-start infinite;
}
@keyframes typing{
  50%{
    opacity: 0;
  }
}

/* About *********************************************/
/* About *********************************************/
/* About *********************************************/
.about{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.switch-link{
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.switch-link .subtitle{
  position: relative;
  cursor: pointer;
}
.switch-link .subtitle:not(:first-child):before{
  content: '';
  position: absolute;
  left: -1.5rem;
  top: 45%;
  width: 1rem;
  border-bottom: 2px solid #9e9e9e;
  color: white;
}

.about-wrapper{
  display: flex;
  flex-direction: row;
  gap: 10rem;
  /* align-items: center; */
  /* animation: slideIn .8s;*/
}
.about-left{
  white-space: pre-line;
  display: flex;
  flex-direction: column;
}
.about-left .subtitle{
  margin-bottom: 2rem;
}
.about-right{
  padding-right: 5rem;
}
.about-right .pic{
  transition: .3s;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about-right .pic img{
  transition: 1s;
  height: 25rem;
  display: block;
}
.border1{
  transition: .3s;
  position: absolute;
  left: -10px;
  bottom: -20px;
  right: -10px;
  top: -20px;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 2px;
}
.border2{
  transition: .3s;
  position: absolute;
  left: -20px;
  bottom: -10px;
  right: -20px;
  top: -10px;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 2px;
}
.pic:hover .borders{
  border-color: rgb(121, 121, 121);
}


@keyframes slideIn{
  0%{
    opacity: 0;
    margin-left: 5rem;
  }
  50%{
    margin-left: 0px;
    opacity: 1;
  }
}
@keyframes secondKick{
  25%{
    opacity: 0;
    margin-left: 5rem;
  }
  100%{
    margin-left: 0px;
    opacity: 1;
  }
}
/* work **********************************************/
/* work **********************************************/
/* work **********************************************/
.work{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work .subtitle{
  margin-right: auto;
  margin-bottom: 2rem;
}
.work .project-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.carousel-arrow-wrapper{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.carousel-arrow-wrapper .carousel-arrow{
  position: relative;
}
.arrow-left::after{
  content: "<";
}
.arrow-right::after{
  content: ">";
}
.project-wrapper{
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  overflow-x: hidden;
}
.project{
  position: relative;
  display: flex;
  flex-direction: column;
}
.project-img{
  transition: .5s;
  cursor: pointer;
  width: 20rem;
  height: 24rem;
}
.project .color1{
  background-color: #F9F871;
}
.project .color2{
  background-color: #F7BED1;
}
.project .color3{
  background-color: #20AED8;
}
.project .color4{
  background-color: #B3E8DA;
}
.project-category{
  color: rgb(110, 110, 110);
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}
.project-title{
  transition: .2s;
  cursor: pointer;
  font-size: 1.8rem;
  color: #FAF7FF;
}
.project-title:hover{
  color: #8685EF;
}

/* contact **********************************************/
/* contact **********************************************/
/* contact **********************************************/
.contact {
  position: relative;
}
.contact-wrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact-form{
  display: flex;
  flex-direction: column;
}
.contact-form label{
  color: #FAF7FF;
  font-size: 1.2rem;
  font-weight: 300;
}
.contact-form input{
  margin-top: .5rem;
  margin-bottom: 2.5rem;
  color: #FAF7FF;
  background-color: rgb(41, 41, 41);
  padding: .5rem .5rem;
  font-size: 1.2rem;
  border-radius: 5px;
}
.contact-form input:focus{
  outline: none;
}
.contact-form textarea{
  margin-top: .5rem;
  margin-bottom: 2.5rem;
  color: #FAF7FF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(41, 41, 41);
  padding: .5rem .5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  resize: none;
}
.contact-form textarea:focus{
  color: #FAF7FF;
  outline: none;
}

.contact-form button{
  margin-top: 1rem;
  width: fit-content;
  font-size: .8rem;
    letter-spacing: .1rem;
    transition: .2s;
    cursor: pointer;
    color: #FAF7FF;
    padding: .6rem 1.7rem;
    font-weight: 500;
    box-shadow: 0px 1px 5px rgb(255, 255, 255);
    border: 1px solid transparent;
    background: #8685EF;
}
.contact-form button:hover{
    background-color: #FAF7FF;
    box-shadow: none;
    color: #8685EF;
    border: 1px solid #8685EF;
}
/* App default css *************************************/
/* App default css *************************************/
/* App default css *************************************/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-footer {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FAF7FF;
}

.App-link {
  color: #8685EF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

